.menu ul{
	list-style-type:none;
	text-align: center;
	font-size: 30px;
	background-color: #87CEEB;
	
}
.menu ul li {
	text-align:center;
	padding-left: 270px;
	display:inline;
	
}
a:hover{
	text-decoration:none;
}
a{
	color:black;
}
